  <main class="px-3">
    <h1>Welcome to my online home!</h1>
    <p class="lead">Once a new technology rolls over you, if you are not part of the steamroller,
      you are part of the road - Stewart Brand Writer </p>
    <p class="lead">
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %>
      </p>
  </main>

  


      