@import "bootstrap";
@import "jquery-ui";
@import "gritter";




body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  background-color: #f7f7f7;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;
}


.card {
  float: left;
  width: 100%;
}


.bg{
  color: dark
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  portfolio-form {
    padding: 20px;
  }

  .portfolio-container {
    padding-top: 30px;
  }